deepface==0.0.79
Flask==2.2.3
ipython==8.11.0
keras==2.7.0
Keras_Preprocessing==1.1.2
librosa==0.10.0.post2
matplotlib==3.7.1
# numpy==1.22.3
numpy==1.23.5
opencv_python==4.7.0.72
pandas==1.5.3
seaborn==0.12.2
